*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing: border-box; */
}
html {
  /* font-size: 10px; */
  font-size: 62.5%; // 这是定义1rem是10px

  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
