body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* 指定当元素背面朝向观察者时是否可见。fix:动画完了以后，会向上移动，现在已经没有这个bug了 */
  /* backface-visibility: hidden; */
  margin-bottom: 60px;
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* 动画名称 */
    animation-name: moveInLeft;
    /* 动画持续的时间 */
    animation-duration: 1s;
    /* 定义CSS动画在每一动画周期中执行的节奏 ease-in进入很慢，后面变快*/
    /* animation-timing-function: ease-out; */
    /* 动画会执行几次 */
    /* animation-iteration-count: 3; */
    /* 动画延迟 */
    /* animation-delay: 3s; */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.74rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px;
  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
  &:hover {
    transform: skewy(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
